<div class="flex items-center justify-between gap-4 rounded-xl bg-slate-950 p-4 border border-slate-800">
  <div>
    <h4 class="font-semibold">{{ task.title }}</h4>
    <p class="text-sm text-slate-400">{{ task.description }}</p>

    <span
      class="mt-2 inline-flex rounded-full px-2.5 py-0.5 text-xs font-medium"
      [class.bg-green-500/20]="task.status === 'completed'"
      [class.text-green-400]="task.status === 'completed'"
      [class.bg-yellow-400/20]="task.status === 'pending'"
      [class.text-yellow-300]="task.status === 'pending'"
    >
      {{ task.status === 'completed' ? 'completada' : 'pendente' }}
    </span>
  </div>

  <div class="flex gap-2">
    <button
      class="rounded-lg border border-slate-700 px-3 py-2 text-sm hover:bg-slate-900 transition active:scale-95"
      (click)="toggle.emit(task.id)"
    >
      Alterar 'Status'
    </button>

    <button
      class="rounded-lg border border-yellow-700 px-3 py-2 text-sm hover:bg-yellow-950 transition active:scale-95"
      (click)="edit.emit(task)"
    >
      Editar
    </button>

    <button
      class="rounded-lg border border-red-900/60 px-3 py-2 text-sm text-red-300 hover:bg-red-950 transition active:scale-95"
      (click)="remove.emit(task.id)"
    >
      Remover
    </button>
  </div>
</div>