/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

button, input[type="button"], input[type="submit"] {
  @apply cursor-pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}